.product-container{
    border: solid 1px orange;
    margin: 1em 1em;;
    display: grid;
    grid-template-columns: 10% 1fr auto;
    grid-template-rows: 1fr;
    border-radius: 0.5em;
    grid-gap: 1em;
}
.name-desc{
    display: flex;
    flex-direction: column;
}
.img-container{
    display: flex;
    margin: 0 0 0 5px;;
    align-items: center;
}

.to-show-container{
    display: flex;
    flex-direction: column;
    border: solid 1px orange;
    border-radius: 0.5em;
    width: 40%;
    height: 29em;
    margin: 2em;
}
.to-show-container > *{
    margin: 10px;
}
.to-show-container > input{
    height: 40px;
}
.to-the-right{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
input{
    border-color: orange;
    border-radius: 0.5em;
}